nav {
  height: 70px;
  border-bottom: 1px solid #C4C4C4;
}

.motogp-logo-box {
  height: 100%;
  width: 3rem;
}

.motogp-logo-box img {
  height: auto;
  width: 100%;
}

.logo-box {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.logo-box img {
  height: auto;
  width: 100%;
}

.banner-main {
  height: 25px;
  font-size: .7rem;
  align-items: center;
}

.icon-and-notification {
  display: flex;
  position: relative;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.notification {
  background-color: red;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.main-img-container {
  height: 350px;
  width: 100%;
}

.main-img-container img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.menu-links-box {
  font-size: .7rem;
}

.menu-link {
  list-style: none;
  margin: 0 1rem;
}

.main-image-textBox {
  position: absolute;
  top: 3rem;
  left: 5rem;
  z-index: 1;
  width: 30%;
}

.main-image-description {
  font-size: .7rem;
}
