<footer>
  <div class="links-newsletter-section d-flex container">
    <div class="links-container col-6">
      <div class="title-box">
        <h3>MotoGP™ STORE</h3>
      </div>
      <div class="links-lists d-flex">
        <div class="col-4">
          <h5 class="category-title">TOP CATEGORIES</h5>
          <ul class="footer-links">
            <li class="footer-link">MotoGP™ Brands</li>
            <li class="footer-link">Motorcycle Brands</li>
            <li class="footer-link">eSPORTS</li>
            <li class="footer-link">Outlet</li>
          </ul>
        </div>
        <div class="col-4">
          <h5 class="category-title">CUSTOMER CARE</h5>
          <ul class="footer-links">
            <li class="footer-link">Help & Contact</li>
            <li class="footer-link">Shop info</li>
            <li class="footer-link">Shipping and Delivery</li>
            <li class="footer-link">Return policy</li>
          </ul>
        </div>
        <div class="col-4 customer-care">
          <h5></h5>
          <ul class="footer-links">
            <li class="footer-link">Privacy Policy</li>
            <li class="footer-link">Terms and conditions</li>
            <li class="footer-link">Track orders</li>
            <li class="footer-link">Contact</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 newsletter-box">
      <h3>MotoGP™ Newsletter</h3>
      <p><b>Subscribe to the Newsletter to get the 10% off</b></p>
      <div class="input-box">
        <input type="text" placeholder="Insert your email">
        <div class="submit-box">
          <button type="submit"><b>SUBMIT</b></button>
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-section d-flex justify-content-center">
    <div class="logo-box">
      <img width="166" src="https://img02.aws.kooomo-cloud.com/upload/1321/cms/647968/default/220860/logo-icon-white.svg" alt="MotoGp logo">
    </div>
  </div>
  <div class="terms-conditions-section container-fluid d-flex">
    <div class="col-4 copyright-box d-flex align-items-center justify-content-start">
      <span>MotoGP Store © 2020 | Kooomo By Zerogrey | P.IVA IT08003340018</span>
    </div>
    <div class="col-4 payment-methods-box d-flex justify-content-center align-items-center">
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/visa_hr.png?v=18" alt="Visa card logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/maestro_hr.png?v=18" alt="Maestro card logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img02.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/mastercard_hr.png?v=18" alt="Mastercard logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/paypal_hr.png?v=18" alt="Paypal logo">
      </div>
    </div>
    <div class="col-4 sitemap-privacy-box d-flex align-items-center justify-content-end">
      <a class="text-decoration-none">Sitemap</a>
      <a class="text-decoration-none">Privacy Policy</a>
    </div>
  </div>
</footer>
