<footer>
  <div class="links-newsletter-section d-flex container">
    <div class="links-container col-6">
      <div class="title-box">
        <h3>MotoGP™ STORE</h3>
      </div>
      <div class="links-lists d-flex">
        <div class="col-4">
          <h5 class="category-title">TOP CATEGORIES</h5>
          <ul class="footer-links">
            <li class="footer-link">MotoGP™ Brands</li>
            <li class="footer-link">Motorcycle Brands</li>
            <li class="footer-link">eSPORTS</li>
            <li class="footer-link">Outlet</li>
          </ul>
        </div>
        <div class="col-4">
          <h5 class="category-title">CUSTOMER CARE</h5>
          <ul class="footer-links">
            <li class="footer-link">Help & Contact</li>
            <li class="footer-link">Shop info</li>
            <li class="footer-link">Shipping and Delivery</li>
            <li class="footer-link">Return policy</li>
          </ul>
        </div>
        <div class="col-4 customer-care">
          <h5></h5>
          <ul class="footer-links">
            <li class="footer-link">Privacy Policy</li>
            <li class="footer-link">Terms and conditions</li>
            <li class="footer-link">Track orders</li>
            <li class="footer-link">Contact</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 newsletter-box">
      <h3>MotoGP™ Newsletter</h3>
      <p><b>Subscribe to the Newsletter to get the 10% off</b></p>
      <div class="input-box d-flex position-relative">
        <input type="text" placeholder="Insert your email">
        <div class="submit-box">
          <button type="submit"><b>SUBMIT</b>
            <svg xmlns="http://www.w3.org/2000/svg" width="49.5" height="27" viewBox="0 0 49.5 27">
              <g id="single_black_arrow" transform="translate(0 0.5)">
                <rect id="single_white_arrow_background" data-name="single_white_arrow background" width="49" height="26" fill="none"></rect>
                <g id="ARROW"> <circle id="Oval" cx="13" cy="13" r="13" transform="translate(23)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"></circle>
                  <path id="Triangle" d="M3,0,6,5H0Z" transform="translate(41.5 9.5) rotate(90)" fill="#fff"></path> <rect id="Rectangle" width="34" height="1" transform="translate(0 12)" fill="#fff"></rect>
                </g>
              </g>
            </svg>
          </button>
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-section d-flex justify-content-center">
    <div class="logo-box">
      <img width="166" src="https://img02.aws.kooomo-cloud.com/upload/1321/cms/647968/default/220860/logo-icon-white.svg" alt="MotoGp logo">
    </div>
  </div>
  <div class="terms-conditions-section container-fluid d-flex">
    <div class="col-4 copyright-box d-flex align-items-center justify-content-start">
      <span>MotoGP Store © 2020 | Kooomo By Zerogrey | P.IVA IT08003340018</span>
    </div>
    <div class="col-4 payment-methods-box d-flex justify-content-center align-items-center">
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/visa_hr.png?v=18" alt="Visa card logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/maestro_hr.png?v=18" alt="Maestro card logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img02.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/mastercard_hr.png?v=18" alt="Mastercard logo">
      </div>
      <div class="payment-logo-box">
        <img src="https://img01.aws.kooomo-cloud.com/themes/1321/motoGp_2020_12_14/images/payment_footer/paypal_hr.png?v=18" alt="Paypal logo">
      </div>
    </div>
    <div class="col-4 sitemap-privacy-box d-flex align-items-center justify-content-end">
      <a class="text-decoration-none">Sitemap</a>
      <a class="text-decoration-none">Privacy Policy</a>
    </div>
  </div>
</footer>
