* {
  box-sizing: border-box;
  font-family: "FS Joey";
}

@import url(//db.onlinewebfonts.com/c/342e95d629a08ee0db807f03f69d0c5f?family=MotoGP+Display+Bold);
@import url(//db.onlinewebfonts.com/c/4c418fddb193fdc55a68a0040c1414cf?family=FS+Joey);

@font-face {
  font-family: "MotoGP Display Bold";
  src: url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.eot");
  src: url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/342e95d629a08ee0db807f03f69d0c5f.svg#MotoGP Display Bold") format("svg"); }

@font-face {
  font-family: "FS Joey";
  src: url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.eot");
  src: url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/4c418fddb193fdc55a68a0040c1414cf.svg#FS Joey") format("svg"); }

svg {
  height: 1.5rem;
  width: 1.5rem;
}
